<h1 id="tableLabel">CDS E MUSICAS</h1>

<p></p>

<p *ngIf="!cds"><em>Loading... <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="cds">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Artista</th>
        <th>Gênero Musical</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cd of cds">
        <td>{{ cd.titulo }}</td>
        <td>{{ cd.artista }}</td>
        <td>{{ cd.generoMusical }}</td>
        <td><button onclick="listarMusicas(cd.id)">Listar Musicas</button></td>
      </tr>
    </tbody>
</table>
